<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Подтверждение email</title>
</head>
<body>
    <h2>Подтверждение регистрации</h2>
    
    <p>Здравствуйте, {{ user.username }}!</p>
    
    <p>Спасибо за регистрацию. Пожалуйста, перейдите по ссылке ниже, чтобы подтвердить свой email адрес:</p>
    
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'email_verify' uidb64=uid token=token %}">
            Подтвердить email
        </a>
    </p>
    
    <p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.</p>
    
    <p>С уважением,<br>Команда разработки</p>
</body>
</html>